body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    overflow-x: hidden;
    background-color:#eeeeee;
    color: #6C6D6E;
  }
  
  a {
    transition: all 0.3s ease;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  p {
    line-height: 2;
  }
  
  .primary-color {
    color:teal;   
  }

  .contact {
    color:teal;
    position: relative;
    -webkit-animation: first 5s 1; 
    animation: first 5s 1;
  }

  .contact:hover {
    color: turquoise;
  }

  @-webkit-keyframes first {
    0%   { left: 0px; top: 0px;}
    /* 25%  { color: turquoise; left: 700px; top: 0px;} */
    50%  { color: turquoise; left: 400x; top: 0px;}
    /* 75%  { color: turquoise; left: 0px; top: 35px;} */
    100% { left: 0px; top: 0px;}
  }
  
  @keyframes first {
    0%   { left: 0px; top: 0px;}
    /* 25%  { color: turquoise; left: 700px; top: 0px;} */
    50%  { color: turquoise; left: 400px; top: 0px;}
    /* 75%  { color: turquoise; left: 0px; top: 35px;} */
    100% { left: 0px; top: 0px;}
  }

  .primary-color:hover{
    color: turquoise;
  }
  
  .secondary-color {
    color: turquoise;
  }
  
  
  .page-container {
    max-width: 900px;
    width: 100%;  
  }
  
  .section {
    margin-bottom: 155px;
    position: relative;
  }
  
  .content-container {      
    border-radius: 20px;
    background-color: white;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }
  
  .nav {
    position: absolute;
    right: -150px;
    top: 45px;
  }
  
  .nav > ul > li {
    list-style: none;
  }
  
  .nav > ul > li > a {
    display: block;
    padding: 12px 15px;
    color: #999A9B;
  }
  
  .nav > ul > li.active > a,
  .nav > ul > li > a:hover,
  .nav > ul > li > a:focus {
    color: teal;
  }
  
  .nav-deco {
    display: inline-block;
    width: 20px;
    height: 8px;
    background-color: #999A9B;
    vertical-align: middle;
    margin-right: 20px;
  }
  
  .nav > ul > li.active > a > .nav-deco,
  .nav > ul > li:hover > a > .nav-deco
   {
    background-color: turquoise;
  }
  
  .content {  
    padding: 55px;
  }
  
  .header {
    padding: 50px 15px;
  }
  
  .title {
    font-size: 100;
    font-weight: 800;
    /* color: #626364;     */
    background: -webkit-linear-gradient(#fff, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;   
  }
  
  .page-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #656667;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: turquoise; }
  }

  .mb-0 {
    padding: 10% 12% 2% 12%;
    border-radius: 20px;
        
  }
  
  .img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
   margin-top: -10px;
   filter: grayscale(100%) contrast(120%);
   box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
   display: block;
   transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
   margin-top: -10px;
}

.mb-0:hover img{
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.1);
}

  footer {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    color: #9A9B9C;
  }
  
  .footer-link {
    color: #9A9B9C;
  }

  .footer-link:hover {
    color: turquoise;
  }

  .portfolio-item figure {
      position: relative;	
      overflow: hidden;
      margin-bottom: 0;
      background: turquoise;
      text-align: center;
      cursor: pointer;
  }
  
  .portfolio-item figure img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
  }
  
  .portfolio-item figure figcaption {
      color: white;
      font-size: 2em;
      text-shadow: 2px 2px teal;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .portfolio-item figure figcaption h2 {
    font-size: 2em;
    font-weight: 1000;
  }
  .portfolio-item figure figcaption::before,
  .portfolio-item figure figcaption::after {
      pointer-events: none;
  }
  
  .portfolio-item figure figcaption,
  .portfolio-item figure figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .portfolio-item figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
  }
  
  .portfolio-item figure h2 {
      word-spacing: -0.15em;
  }
  
  .portfolio-item figure h2,
  .portfolio-item figure p {
      margin: 0;
  }
  
  .portfolio-item figure p {
      letter-spacing: 1px;
      font-size: 60.5%;
      max-width: 200px;
      margin: 0 auto;
  }
  
  figure.effect-bubba {	background: turquoise; }
  
  figure.effect-bubba img {
      opacity: 1;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
  }
  
  figure.effect-bubba:hover img {
      opacity: 0.5;
  }
  
  figure.effect-bubba figcaption::before,
  figure.effect-bubba figcaption::after {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
  }
  
  figure.effect-bubba figcaption::before {
      border-top: 5px solid teal;
      border-bottom: 5px solid teal;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
  }
  
  figure.effect-bubba figcaption::after {
      border-right: 5px solid teal;
      border-left: 5px solid teal;
      -webkit-transform: scale(1,0);
      transform: scale(1,0);
  }
  
  figure.effect-bubba h2 {
      font-size: 1.5rem;	
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0,-5px,0);
      transform: translate3d(0,-5px,0);
      opacity: 0;
  }
  
  figure.effect-bubba p {
      width: 100%;
      padding: 10px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(0,20px,0);
      transform: translate3d(0,20px,0);
  }
  
  figure.effect-bubba:hover figcaption::before,
  figure.effect-bubba:hover figcaption::after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  
  figure.effect-bubba:hover h2,
  figure.effect-bubba:hover p {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
  
  .portfolio {
    margin-top: 40px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -20px;
  }
  
  .portfolio-item {
      margin-top: 100px;
      margin-bottom: 100px;
      max-width: 900px;
      position: relative;
      -webkit-animation: myfirst 3s 1; 
      animation: myfirst 3s 1;
      border:10px outset #ccc;
      -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
      -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
      box-shadow: 3px 3px 5px 6px #ccc;
    }
     
  @-webkit-keyframes myfirst {
    0%   {right: 0px; top: 0px; opacity: 0; transform: scale(0.5);}
    25%  {right: 50px; top: 0px; transform: scale(0.5);}
    50%  {right: 50px; top: 50px; transform: scale(0.5);}
    75%  {right: 0px; top: 50px; transform: scale(0.5);}
    100% {right: 0px; top: 0px;}
  }
  
  @keyframes myfirst {
    0%   {right: 0px; top: 0px; opacity: 0; transform: scale(0.5);}
    25%  {right: 50px; top: 0px; transform: scale(0.5);}
    50%  {right: 50px; top: 50px; transform: scale(0.5);}
    75%  {right: 0px; top: 50px; transform: scale(0.5);}
    100% {right: 0px; top: 0px;}
  }
  
  .content-2 {
      padding-left: 45px;
      padding-right: 45px;
  }
  
  figcaption {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .img-overlay-wrap {
      position: relative;
      min-height: 280px;
      background-image: url(../img/contact.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
  }
  
  .img-overlay {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
  }
  
  .img-overlay-text {
      position: relative;
      z-index: 1000;
  }
  
  .contact-form {
      max-width: 780px;
  }
  
  .form-group {
      margin-bottom: 35px;
  }
  
  .btn {
      font-size: 1.1rem;
      padding: 10px 35px;
      border: none;
  }
  
  .btn-primary {
      background-color: teal;
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
      background-color: turquoise;
  }
  
  .small {
      font-size: 90%;
  }
  
  @media (max-width: 945px) {
    .nav {
      position: static;
    }
  
    .page-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (max-width: 575px) {
      .portfolio-item {
          max-width: 100%;
          height: auto;
      }
  }
  
  @media (max-width: 480px) {
    footer {
      display: block;
    }
  
    footer span {
      display: block;
      padding: 15px;
    }
  }